body {
   background:url('../Images/tablet2in1wall.jpg') no-repeat 320px 1px
}

.loginDiv{

    min-height:700px;
    float:right;
    min-width:700px;
}

.col-md-4 img{
    width:100px;height:100px;
}

.loginDiv col-md-8{
    float:right;
}