
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Access Settings</h2>

<div class="container">

    <br>
    <div class="card bg-light text-dark">
        <div class="card-body">Google Drive <button style="float:right" class="btn btn btn-primary">Allow Access</button></div>

    </div>

    <br>
    <div class="card bg-light text-dark">
        <div class="card-body">One Drive <button style="float:right" class="btn btn btn-primary">Allow Access</button></div>

    </div>

    <br>
    <div class="card bg-light text-dark">
        <div class="card-body">Dropbox<button style="float:right" class="btn btn btn-primary">Allow Access</button></div>

    </div>

    <br>
    <div class="card bg-light text-dark">
        <div class="card-body">Google Storage<button style="float:right" class="btn btn btn-primary">Allow Access</button></div>

    </div>

    <br>
    <div class="card bg-light text-dark">
        <div class="card-body">Azure Storage <button style="float:right" class="btn btn btn-primary">Allow Access</button></div>

    </div>


</div>
<style>
    .card {
        padding: 10px 10px 10px 10px;
        background: lightgrey;
        border: 2px black solid;
        font-size:20px;
    }
</style>
