@{
    ViewBag.Title = "Home Page";
}

<div id="homeWall" class="jumbotron">
    <h1>Private Cloud Storage Search Engine</h1>
    <p class="lead">To access files from anywhere with a single click.</p>
    <p><a href="~/Views/Home/Index.cshtml" class="btn btn-primary btn-lg">Learn how our search engine works</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Google Drive</h2>
        <img class="boxImage" src="https://png.icons8.com/color/480/c0392b/google-drive.png">
        <p>
            Get access to files anywhere through secure cloud storage and file backup for your photos, videos, files and more with Google Drive.
        </p>
        <p><a class="btn btn-default" href="https://www.google.ca/drive">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>One Drive</h2>        
                <img class="boxImage" src="~/Images/OneDrive-800x400.jpg">
        <p>Get to your files and photos from anywhere, on any device. Share and work together with anyone in your work and life.</p>
        <p><a class="btn btn-default" href="https://onedrive.live.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Drop box</h2>
        <img class="boxImage" src="~/Images/Dropbox.jpg">
        <p>Dropbox is a modern workspace designed to reduce busywork-so you can focus on the things that matter. Sign in and put your creative energy to work</p>
        <p><a class="btn btn-default" href="https://www.dropbox.com/">Learn more &raquo;</a></p>
    </div>
</div>

<<div class="row">
     <div class="col-md-4">
         <h2>Azure Blob Storage</h2>
         <img class="boxImage" src="~/Images/azurecloudstorage.jpg">
         <p>
             Storage Services on Azure by Microsoft Cloud Services provides REST and SDK APIs for storing and accessing data on the cloud.
         </p>
         <p><a class="btn btn-default" href="https://azure.microsoft.com/en-ca/services/storage/d">Learn more &raquo;</a></p>
     </div>
     <div class="col-md-4">
         <h2>Google Cloud Storage</h2>
         <img class="boxImage" src="~/Images/googleCloudStorageIcon.jpg">
         <p>Google Cloud Storage is unified object storage for developers and enterprises, from live applications data to cloud archival.</p>
         <p><a class="btn btn-default" href="https://cloud.google.com/storage/">Learn more &raquo;</a></p>
     </div>
</div>

    <link rel="stylesheet" type="text/css" href="~/Content/indexStyleSheet.css" />
